<!DOCTYPE html>
<html>
    <head>
        <meta content="报名详情页" name="Keywords">
        <meta content="报名详情页" name="Description">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=320, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>报名详情页</title>
        <link type="text/css" href="css/frameIp.css" rel="stylesheet"/>
        <link type="text/css" href="css/play.css" rel="stylesheet"/>
        <style type="text/css">
        	.title_head{font-size: 17px;font-weight: bold;width: 100%;text-align: center;padding: 10px 0;color: #000000;}
        .content{
        	 text-indent:25px;
        	 padding: 2px 5px;
        	 font-size: 13px;
        	 color: #333333;
        }
        
        
        </style>
    </head>
    <body>
        <div class="big_box">
        	<div class="title_head">第六届8264滑雪公开赛免责声明</div>
        	<div class="content">凡报名参加本次滑雪运动者，均视为具有完全民事行为能力的人，在活动中发生由于意外事故和急性疾病等不可预测因素造成的人身损害后果，活动的组织者及其他参与人不承担赔偿责任，由被损害人依据法律规定和本声明依法解决，凡参加活动者并签订活动免责声明的队员均视为接受本声明</div>
        	<div class="content">1、本次活动遵循“自愿、互助、AA、环保”的原则，为业余性、非营利性户外活动。活动性质属于风险自担、责任自负。</div>
        	<div class="content">2、滑雪运动具有很高的危险性和不可预知性。参加者自行承担活动的危险和风险并对自己的行为及后果负完全责任。参加者知晓可能经受的所有损失、财产损毁或人身伤害（包括死亡）相关的一切风险。</div>
        	<div class="content">3、凡参加者均视为具有完全民事行为能力人，且年龄为18—60周岁之间。如在活动中发生人身或财产损害后果，由受损害人依据法律规定和本声明依法解决。当由于意外事故，突发气候变化和急性疾病等不可预测因素造成身体损害时，活动的组织者及其他参与人有义务尽力救助，但如果造成了不可逆转的损害，活动的组织者及其他参与人不负担任何责任。</div>
        	<div class="content">4、所有参与活动的运动者必须购买商业保险后方可参加赛事活动，为了保证所有参赛人员方便、及时购买保险，组织者协调、联系保险公司为参赛运动者购买保险提供便利，保险费由购买者自负，组织者并无义务为参加者购买保险。</div>
        	<div class="content">5、活动中组织者对本次活动进行协调、联络、指引，并不从活动组织中盈利，亦不构成组织者的经营行为，组织者不对任何个人或机构承担民事赔偿责任或补充民事赔偿责任。</div>
        	<div class="content">6、本人了解参加赛事活动需要具备相当的身体条件。本人声明，本人具备参赛的身体条件，并为赛事进行了充分的训练，本人了解在我参赛时，没有可能造成自己受伤或者死亡的任何疾病、损伤或者任何其他身体残疾。本人证明，我在身体上和精神上都具有参加赛事的能力，并对赛事中可能出现的风险已经采取了适当的措施。</div>
        	<div class="content">7、本人在赛事活动中，自觉保管自己的个人物品，个人物品遗失或丢失，将自负其责；注意饮食卫生和保持健康生活作风，食物中毒、醉酒、打架后果等责任自负。</div>
        	<div class="content">8、本人代表我自己以及获得我授权代表我的任何人或者其他方同意放弃对于赛事活动的组织者、管理者、批准机关、以及所有它们各自的代理人、管理人员、志愿者在现在或者将来对于由于本人参加赛事而对自己造成的无论是否与以上人员的疏忽有关的任何损伤、死亡、或者对我自己的财物造成的任何损害或者损失提出任何索赔要求。本人代表我自己以及获得我授权代表我的任何人或者其他方同意放弃要求他们承担责任，予以赔偿的权利，并免除他们承担相应的责任。</div>
        	<div class="content">9、本人同意，如果我受伤了或者需要医疗服务，赛事组织者可以在它们认为必须时为我安排医疗治疗和紧急撤离，并由我支付相应的费用。本人同意，我对我自己的医疗保险和救护保险负责。</div>
        	<div class="content">10、该免责声明必须参加者自己签名，签字人必须签写本人真实姓名和身份证号码。签字者意味着接受并承担本协议的全部义务，不签者意味着放弃参加此次活动的权利。凡参加这次活动前，必须事先与自己的家属沟通，取得家属的理解和支持，同时知道并同意该免责声明。参加人签名后，视作其家属也已知晓并同意本声明。此免责条款对活动者本人及其继承人亦具有法律约束力。</div>
        	<div class="content">11、本次活动的组织者、活动场地的提供者组织的相关联络、协调之行为，在任何情况下不构成违反对设施设备安全保障义务，不构成对服务管理的安全保障义务的违反，不构成对防范制止侵权行为安全保障义务的违反，也不构成对未成年人、无民事行为能力人、限制民事行为能力人安全保障义务的违反。</div>
        	<div class="content">12、本人允许赛事活动组织者在进行赛事的组织、营销和推广活动中，无偿地使用我在报名表中提供的自己的个人信息、以及本人在赛事中的肖像、姓名、声音、生物数据、照片、视频、多媒体或者影像等，并且将使用它们的所有权利、所有权和利益转让给了赛事组织者，包括但是不限于在广播、报纸、宣传册、推广资料和其他媒体中以任何形式出现。本人授权赛事组织者将我的上述权利授予赛事的赞助人。 </div>
        	
        </div>
    </body>
</html>
